*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #000;
    color: #eee;

}
.title{
    background-color: aquamarine;
    width: 60%;
    padding: 30px;
    border-radius: 15px;
}
.main-menu{
    padding: 30px;
}
.options button{
    padding: 10px;
    margin: 0 15px;
    color: #fff;
    background-color: darkcyan;
    border-radius: 5px;
    border-style: none;
}
.options button:hover{
    background-color: aquamarine;
}
.form{
    margin: 20px;
    padding: 20px;
}
.form input {
    margin: 5px;
    
}
.form label{
    margin: 20px 10px;
}
.form fieldset {
    margin: 10px;
    padding: 10px;
}
#fazIn{
    display: none;
}
#parouIn{
    display: none;
}